<h1>Hyper <strong>CV</strong></h1>
<h2>To do</h2>
<ul>
	<li>
		<del>pass events (edit / toggle panel) from panel head child (HyperAccordionPanelHeadComponent) to accordion component parent (HyperAccordioComponent)</del>: <span style="color:green"><strong>USED SERVICE: accordion service in shared</strong></span>
	</li>
	<li><del>make a signup form</del></li>
	<li>make an edit form</li>
	<li>make auth
		<ul>
			<li><del>login form</del></li>
			<li>auth based views / ruutes</li>
		</ul>
	</li>
</ul>
<cv></cv>
