.hyper-accordion-panel {
	margin-bottom: 10px;
}
.hyper-accordion-panel-head {
	background: #32aeca;
	color: #fff;
	font-size: 17px;
	padding: 3px 10px;
}
.deco-panel-icon {
	width: 40px;
}
.edit-panel-icon {
	float: right;
	line-height: 22px;
}
.hyper-accordion-panel-content {
	margin-left: 45px;
	padding: 10px;
}
