input {
  border-left: 5px solid #ccc;
}
input.ng-touched.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
input.ng-valid {
  border-left: 5px solid #42A948; /* green */
}

.error-msg {
	color: #a94442;
	font-size: 11px;
	padding: 5px 0;
}
