footer {
  display: none;
}
@media (max-width: 767px) {
  footer {
    bottom: 0;
    /*display: block;*/
    left: 0;
    position: fixed;
    right: 0;
  }
  .drawer {
    width: 100%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }
  #left-drawer.active,
  #right-drawer.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  .drawer ul {
    padding: 40px;
    text-align: center;
  }
  .drawer-cmd {
    border-radius: 50%;
    box-shadow: 0 0 2px #888888;
    color: brown;
    font-size: 24px;
    height: 32px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 32px;
    z-index: 20;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  #nav-cmd {
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    transform: translateX(-120%);
  }
  #user-nav-cmd {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    transform: translateX(20%);
  }
  .drawer-cmd.active {
    box-shadow: 0 0 10px #888888;
  }
}

