<!-- Footer -->
	<footer id="footer-one">
		<div class="container">
			<div class="logo"></div>
			<div class="social">
				<a href="#a"><i class="fa fa-facebook"></i></a>
				<a href="#a"><i class="fa fa-twitter"></i></a>
				<a href="#a"><i class="fa fa-youtube"></i></a>
				<a href="#a"><i class="fa fa-flickr"></i></a>
				<a href="#a"><i class="fa fa-vimeo"></i></a>
				<a href="#a"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
		<i class="fa fa-caret-down"></i>
	</footer>
	<footer id="footer-two">
		<div class="footmail">
			<a href="mailto:helpdesk@hypercv.com"><i class="fa fa-paper-plane"></i> helpdesk@hypercv.com</a>
		</div>
	</footer>
	<footer id="footer-three">
		<div class="copyright">
			©2016 Reload S.r.l. - P.I. 08879300963
		</div>
	</footer>
<!-- Footer -->
