* {
  margin: 0;
  padding: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
body, html {
	height: 100%;
}
body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-family: 'Open Sans', sans-serif !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none !important;
	transition: color .3ms ease-in;
}
.navbar a,
.logo {
  color: #fff;
}
/*.btn {
  background-color: #c74932 !important;
  border-color: #c74932 !important;
  padding: 8px 24px !important;
}*/

/*  signin / signup forms  */ 
.form-container {
  overflow: hidden;
}
/*.form-container .form-group {
  margin-bottom: 25px;
}
.form-container .form-control[type='text'],
.form-container .form-control[type='email'],
.form-container .form-control[type='password'] {
  height: 38px;
  padding: 8px 12px;
}
.form-container .form-control[type='checkbox'] {
  display: inline;
  height: auto;
  vertical-align: middle;
  width: auto;
  position: absolute;
  visibility: hidden;
}
.form-container .input-transform {
  border: 3px solid #ccc;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
.form-container .input-transform::after {
  content: '';
  height: 8px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 8px;
}
.form-container input[type=checkbox] ~ .input-transform {
  border-radius: 5px;
}
.form-container input[type=checkbox]:checked ~ .input-transform {
  border: 3px solid #000;
}
.form-container input[type=checkbox]:checked ~ .input-transform::after {
    background-color: #000;
}
.form-container input {
  border: 1px solid #ccc;
}
.form-container input.ng-touched.ng-invalid {
  border: 1px solid red;
}
.form-container input.ng-valid {
  border: 1px solid green;
}*/
.form-container h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  margin: 45px 0 35px 0;
  text-align: center;
}
.form-container a {
  line-height: 34px;
}
.form-container #bg {
  /*background: rgb(226,195,167);
  background: -moz-linear-gradient(-45deg, rgba(226,195,167,1) 1%, rgba(237,93,71,1) 46%, rgba(204,150,75,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(226,195,167,1) 1%,rgba(237,93,71,1) 46%,rgba(204,150,75,1) 100%);
  background: linear-gradient(135deg, rgba(226,195,167,1) 1%,rgba(237,93,71,1) 46%,rgba(204,150,75,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2c3a7', endColorstr='#cc964b',GradientType=1 );*/
  height: 50vh;
}
.logo-icon {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 6px #888888;
  color: #ec644e;
  font-size: 4rem;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  width: 60px;
}
.form-container #form-wrapper {
  margin: 0 auto;
  max-width: 360px;
  width: 80%;
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  transform: translateY(-60%);
  -webkit-transition: all .3s cubic-bezier(.1, .2, .3, 1);
  -moz-transition: all .3s cubic-bezier(.1, .2, .3, 1);
  transition: all .3s cubic-bezier(.1, .2, .3, 1);
}
.form-container #form-bg {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,.3);
  padding: 40px 30px;
}
/*  -----  signin / signup forms  */ 


#content {
  /*height: calc(100vh - 40px);*/
  height: 100vh;
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {

}
.error-msg {
	color: #a94442;
	font-size: 11px;
	padding: 5px 0;
}
